# IDE's Cache Files
__pycache__
.pytest_cache
.vscode
.idea
.vim
.ipynb_checkpoints
*.pyc

# the Drawio backup files
*.bkp
*.dtmp

# Virtualenv
.venv
.python-version
pyvenv.cfg
pip-selfcheck.json

# Pipenv
.python-version
[pP]ipfile
[pP]ipfile.lock
